<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {{> header }}
    <p>Some text is going to come here</p>
    {{> footer}}
  </body>
</html>
